@CHARSET "UTF-8";
@font-face {
    font-family: 'B Nazanin';
    src: url('font/BNazanin.eot');
    src: url('font/BNazanin.eot#iefix') format('eot'), url('font/BNazanin.woff') format('woff'), url('font/BNazanin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 10px;
    background-color: #E5E5E1;
    color: #333333;
    font-family: B Nazanin, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

body, td, a, div, p {
    font-size: 10px;
    font-family: B Nazanin, verdana, arial, sans-serif;
}

textarea, input, select, button {
    border: 1px solid #A5A596;
    font-size: 10px;
    font-family: B Nazanin, verdana, arial, sans-serif
}

a:link, .w, .w a:link {
    color: #0000cc;
    text-decoration: none;
}

a:visited {
    color: #551a8b;
    text-decoration: none;
}

a:active {
    color: #ff0000;
    text-decoration: none;
}

label {
    font-weight: bold;
    font-size: 15px;
}

.welcome_one{
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.welcome_two{
    margin: 0;
    font-size: 15px;
    color: #0885bd;
    font-weight: bold;
}
.welcome_three{
    font-size: 14px;
    margin: 2px;
    line-height: 1.3;
    font-weight: 600;
}

div#box {
    background-color: #F1F3F5;
    border: 1px solid #CCCCCC;
    width: 405px;
    height: 285px;
    margin: 40px auto 30px auto;
}
div#box_login {
    background-color: #efefefe3;
    border: 2px outset#81360d;
    width: 405px;
    height: auto;
    margin: 40px auto 30px auto;
    border-radius: 18px;
}


div#logo {
    width: 380px;
    margin: 15px auto 5px auto;
    TEXT-ALIGN: CENTER;
    font-weight: bolder;
    font-size: 28px;
    color: black;
}

div#text {
    width: 150px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    float: left;
}

div#error {
    color: red;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    height: 18px;
    margin-bottom: 14px;
    margin-right: 15px;
    margin-top: 10px;
    direction: rtl;
    text-align: center;
}
div#error a{
    color: black;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

div#title_v{
    text-align: center;
    color: black;
    width: 200px;
    margin: 5px;
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
}
div#ok {
    color: green;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    height: 18px;
    margin-bottom: 5px;
}

div#form {
    /*background-color: #E9ECEF;
    border: 1px solid #CCCCCC;*/
    padding: 10px;
    /*width: 200px;*/
    /*float: left;*/
    text-align: center;
}

div#box-error {
    background-color: #F1F3F5;
    border: 1px solid #CCCCCC;
    width: 405px;
    height: 224px;
    margin: 6em auto 6em auto;
}

div#text-error {
    width: 50px;
    padding: 10px;
    float: left;
}

div#form-error {
    background-color: #E9ECEF;
    border: 1px solid #CCCCCC;
    padding: 10px;
    width: 300px;
    height: 95px;
    float: left;
}

table.form {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #707090;
    background-color: #eeeeee;
}

table.form tr.fuzzy {
    background-color: #C3D9FF;
}

table.form th {
    font-weight: bold;
    font-size: 10px;
    height: 16px;
    background-image: url('../img/table_title.gif');
    border: 1px solid #A5A596;
}

#j_username{
    width: 236PX;
    border: 1px #1b3c1b;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 3px;
    border-style: inset;
    background-color: transparent;
    color: black;
    font-size: 15px;
    text-align: center;

}
#j_captcha{
    width: 236PX;
    border: 1px #1b3c1b;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 3px;
    border-style: inset;
    background-color: transparent;
    color: black;
    font-size: 15px;
    text-align: center;

}
#j_password{
    width: 236PX;
    border: 1px #1b3c1b;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 3px;
    border-style: inset;
    background-color: transparent;
    color: black;
    font-size: 15px;
    text-align: center;
}

/* DEMO */
table.demo {
    background-color: #F1F3F5;
    border: 1px solid #CCCCCC;
    width: 380px;
}

table.demo td {
    text-align: center;
    padding: 7px;
}

td.demo_alert {
    background-color: #DA3737;
    font-weight: bold;
}

td.demo_info {
    background-color: #DE6611;
    font-weight: bold;
}

td.demo_title {
    background-color: #002B4C;
    color: #fff;
    font-weight: bold;
}

table.demo_list {
}

table.demo_list th {
    font-weight: bold;
}

table.demo_list td {
    padding: 1px;
}

.loginButton {
    border: 1px solid #5F5F4A;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    font-family: B Nazanin,verdana, arial, sans-serif;
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    margin-top: 7px;
    background-color: #847979;
    width: 236px;
    border-style: outset;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.loginButton i {
    font-style: normal;
    font-weight: bold;
}
.icon-key:before{
    content: url("../img/key.png");
}

.yesButton {
    background-color: #E5E5E1;
    border: 1px solid #A5A596;
    height: 18px;
    font-size: 10px;
    font-family: verdana, arial, sans-serif;
    cursor: pointer;
    cursor: hand;
    background-image: url("../img/true.png");
    background-repeat: no-repeat;
    padding-left: 17px;
    background-position: 2px center;
}

#userId{
    width: 236PX;
    border: 1px #1b3c1b;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-radius: 3px;
    border-style: inset;
    background-color: transparent;
    color: #000000;
    font-size: 15px;
    text-align: center;

}


/* Chrome fix for button images */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .loginButton, .yesButton {

    }
}

/* Explorer fix for button images */
<!--
[if IE ]>
.loginButton, .yesButton {
    padding-left: 12px;
}<!
[endif]

-->